<div class="share-page">
   <h2>
   <b>Share it on &rarr;</b>
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><img class="th" src="{{ site.url }}/images/social-media/Facebook.png"></a>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><img class="th" src="{{ site.url }}/images/social-media/Google+.png"></a>
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><img class="th" src="{{ site.url }}/images/social-media/Twitter.png"></a>
    <a href="http://www.tumblr.com/share/link?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Tumblr"><img class="th" src="{{ site.url }}/images/social-media/Tumblr.png"></a>
    <a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Reddit"><img class="th" src="{{ site.url }}/images/social-media/Reddit.png"></a>
    </h2>
</div>




